@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
    --backgroundcolor: #AED0E9;
}

.container{
    max-width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px;
}

body{
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

.link{
    text-decoration: none;
    color: inherit;
}

.list{
    list-style-type: none;
}

.header{
    background-color: var(--backgroundcolor);
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
    max-height: 89px;
}

.hero{
    padding-top: 300px;
}

img{
    max-width: 20px;
    max-height: 20px;
}
